:root {
  --primery-background-color: #e2e2e2;
  --second-background-color: #1e1823;
  --orenge-backgroun-color: #fd9222;
  --primery-text-color: #111111;
  --second-text-color: #ffffff;
  --orenge-text-color: #fd9222;
  --placeholder-text-color: #404040;
  --primery-button-color: #fd9222;
  --hover-button-color: #fcf1e0;
  --primery-inc-color: #ffffff;
  --hover-inc-color: #fd9222;
}
