/* me class */
.container_mobile {
  max-width: 375px;
  margin: 0 auto;
  padding: 20px;
}

/* mobile header */

.header_logo {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1111;
  letter-spacing: -0.03em;

  color: var(--primary-text-color);
}
.brend_logo {
  margin-left: 4px;
}
.mobile_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu_button {
  border: none;
  background-color: transparent;
  stroke: black;
  display: flex;
  align-items: center;
}

/* modal menu */
.header {
  position: relative;
}
.modal-menu {
  position: absolute;
  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}
.modal-menu.is-open {
  transform: translateX(0%);
  position: fixed;
  height: 220px;
  width: 100vh;
}
.element_modal_menu {
  display: none;
}
.modal-menu.is-open .element_modal_menu {
  display: block;
}

.button-close {
  position: absolute;
  top: 40px;
  right: 20px;
  stroke: #ffffff;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
}
.button-close-svg {
  width: 28px;
  height: 28px;
  stroke: #ffffff;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close-svg:hover {
  stroke: var(--orange-brand-color);
}
.nav_link {
  margin: 116px 0px 0px 30px;
}
.link_menu {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: -0.02em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link_menu_nav {
  color: #ffffff;
  border-bottom: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link_menu_nav:hover {
  color: var(--orange-brand-color);
  border-bottom: 1px solid #fd9222;
  padding-bottom: 8px;
}
.link_menu_nav:focus {
  color: var(--orange-brand-color);
  border-bottom: 1px solid #fd9222;
  padding-bottom: 8px;
}

.element_modal_menu {
  padding: 20px;
}

.list_social_link {
  display: flex;

  bottom: 20px;
  left: 20px;
}
.header_icon_instagram {
  width: 22px;
  height: 22px;
}
.social_link {
  stroke: #ffffff;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social_link:hover {
  stroke: #fd9222;
}
.social_link:focus {
  stroke: #fd9222;
}
.social_link + .social_link {
  margin: 0px 0px 0px 18px;
}
.icon_button_open_menu {
  width: 21px;
  height: 21px;
}
@media screen and (max-width: 1199px) {
  .modal-menu.is-open {
    background-color: var(--second-background-color);
    position: fixed;
    top: -20px;
    right: 0;
    display: block;
    width: 220px;
    height: 100vh;

    z-index: 999;
    transform: translateY(0%);
  }
  .list_social_link {
    position: absolute;
  }
  .link_menu + .link_menu {
    margin-top: 24px;
  }

  .link_menu_nav:hover {
    color: var(--orange-brand-color);
    border-bottom: 1px solid #fd9222;
    padding-bottom: 8px;
  }
  .link_menu_nav:focus {
    color: var(--orange-brand-color);
    border-bottom: 1px solid #fd9222;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .container_mobile {
    max-width: 768px;
  }
  .modal-menu.is-open {
    width: 290px;
    height: 100vh;
  }
  .button-close {
    top: 44px;
    right: 32px;
  }
  .list_social_link {
    bottom: 24px;
    left: 32px;
  }
  .nav_link {
    margin: 136px 0px 0px 55px;
  }
  .header_icon_instagram {
    width: 24px;
    height: 24px;
  }
  .icon_button_open_menu {
    width: 28px;
    height: 28px;
  }
  .button-close-svg {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container_mobile {
    max-width: 1200px;
  }
  .button-close {
    display: none;
  }
  .modal-menu {
    display: contents;
  }
  .mobile_menu {
    display: flex;
    justify-content: space-between;
  }
  .link_menu {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
  }
  .nav_link {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .element_modal_menu {
    display: flex;
    padding: 0;
  }
  .menu_button {
    display: none;
  }
  .link_menu + .link_menu {
    margin: 0 0 0 24px;
  }
  .social_link {
    stroke: #111111;
    fill: transparent;
  }
  .link_menu_nav {
    color: #111111;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link_menu_nav:hover {
    color: var(--orange-brand-color);
    border-bottom: none;
  }
  .link_menu_nav:focus {
    color: var(--orange-brand-color);
    border-bottom: none;
  }
}
