/* Section */

.our-products-wrap {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .our-products-wrap {
    padding-bottom: 72px;
  }
}

@media screen and (min-width: 768px) {
  .our-products-wrap {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .our-products-wrap {
    padding-bottom: 128px;
  }
}

/* Products Title */

.our-products-title {
  align-self: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.our-products-accent-text {
  color: var(--orange-brand-color);
}

/* Products Card */

.our-products-card {
  width: 335px;
  min-height: 364px;
  margin-bottom: 20px;
  background: var(--second-text-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  transition: transform 500ms;
}

@media screen and (min-width: 768px) {
  .our-products-card {
    width: 270px;
  }
}

.our-products-card:hover {
  box-shadow: 0px 1px 6px rgba(2, 2, 7, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-products-card-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
}

@media (min-width: 375px) and (max-width: 767px) {
  .our-products-card-content-wrap {
    padding: 32px 53px;
  }
}

.our-products-card-link {
  display: block;
  width: 230px;
  margin-bottom: 8px;
}

.our-product-img {
  margin-bottom: 8px;
}

.our-products-cards-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  margin-bottom: 2px;
  text-transform: uppercase;
}
.our-products-cards-name:hover,
.our-products-cards-name:focus {
  color: var(--orange-brand-color);
  text-decoration: underline;
}
.our-products-cards-description {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  color: rgba(17, 17, 17, 0.7);
}
.our-products-price-buy-now {
  font-weight: 600;
  line-height: 1.21;
  background-color: var(--second-text-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  width: 94px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.our-products-pagination-wrap {
  align-self: center;
  margin-top: 32px;
  display: flex;
  gap: 13px;
}

@media screen and (min-width: 1200px) {
  .our-products-pagination-wrap {
    display: none;
  }

  .our-products-cardc-wrap {
    overflow: visible;
  }

  .our-products-card:hover {
    transform: scale(1.009);
  }
}

.products-swiper {
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

/* Pagination */

.review-swiper-pagination {
  text-align: center;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.553);
}

.swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  background-color: var(--orange-brand-color);
  border-radius: 6px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 13px 0 0;
}
