<!-- <div class="backdrop-hero"> -->
<div class="hero-modal modal" data-modal="1">
  <button type="button" class="close-hero-modal js-modal-close">
    <svg class="hero-modal-close" width="12" height="12">
      <use href="../img/icons.svg#icon-modal-close-cross"></use>
    </svg>
  </button>
  <h2 class="section-title hero-modal-title"><span class="orange-hero">buy</span>now</h2>
  <ul class="list-chocolate-card">
    <li class="chocolate-card">
      <img class="chocolate-photo" srcset="../img/buy-modal1.png 1x, ../img/buy-modal@2x.png 2x"
        src="../img/buy-modal1.png" alt="black chocolate wedge">
      <p class="chocolate-gramm">100g</p>
    </li>
    <li class="chocolate-card white-no">
      <img class="chocolate-photo" srcset="../img/buy-modal2.png 1x, ../img/buy-modal2@2x.png 2x"
        src="../img/buy-modal2.png" alt="white chocolate wedge">
      <p class="chocolate-gramm">200g</p>
    </li>
    <li class="chocolate-card white-no">
      <img class="chocolate-photo" srcset="../img/buy-modal3.png 1x, ../img/buy-modal3@2x.png 2x"
        src="../img/buy-modal3.png" alt="milk chocolate wedge">
      <p class="chocolate-gramm">300g</p>
    </li>
  </ul>
  <div class="trait-dot">
    <span class="trait-orange"></span>
    <span class="dot-orange"></span>
    <span class="dot-orange"></span>
  </div>
  <form class="hero-form">
    <div class="hero-line-form">
      <label class="label-hero" for="name">Personal information</label>
      <div class="name-surname">
        <input class="hero-input name-input" type="text" name="name" id="name" placeholder="Name">
        <input class="hero-input" type="text" name="surname" id="name" placeholder="Surname">
      </div>
    </div>
    <div class="hero-line-form">
      <label class="label-hero" for="email">Email</label>
      <input class="hero-input" type="email" name="email" id="email" placeholder="Enter your email">
    </div>
    <div class="hero-line-form">
      <label class="label-hero" for="tel"> Phone number </label>
      <input class="hero-input input-tel" type="tel" name="tel" id="tel" placeholder="Phone number">
      <span class="hero-input-tel">+380</span>
      <svg class="modal-svg-hero">
        <use href="../img/icons.svg#icon-ua-flag"></use>
      </svg>
    </div>
    <div class="hero-line-form">
      <label class="label-hero" for="card">Card number</label>
      <input class="hero-input mastercard" type="number" name="card" id="card" placeholder="Enter card">
      <svg class="mastercard-hero" width="24" height="18">
        <use href="../img/icons.svg#icon-mastercard"></use>
      </svg>
    </div>
    <div class="hero-line-form">
      <label class="label-hero" for="user-comment">Comment</label>
      <textarea class="hero-input hero-textarea" name="user-comment" id="user-comment"
        placeholder="Enter card"></textarea>
    </div>
    <button class="primary-button js-modal-close js-open-modal" type="submit" data-modal="2">Submit</button>
  </form>
</div>
<!-- </div> -->

<div class="modal-thanks modal" data-modal="2">
  <!--   Svg иконка для закрытия окна  -->
  <button type="button" class="close-thanks-modal js-modal-close">
    <svg class="modal-thanks-close">
      <use href="../img/icons.svg#icon-modal-close-cross"></use>
    </svg>
  </button>
  <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
  </svg> -->
  <div class="modal-thanks-discription">
    <picture>
      <source srcset="../img/half-choc.png 1x, ../img/half-choc@2x.png 2x" type="image/png" />
      <img class="modal-thanks-img" src="../img/half-choc.png" alt="half-choc-thanks" />
    </picture>
    <picture>
      <source srcset="../img/half-choc-rotate.png 1x, ../img/half-choc-rotate@2x.png 2x" type="image/png" />
      <img class="modal-thanks-img-rotate" src="../img/half-choc-rotate.png" alt="half-choc-thanks-rotate" />
    </picture>
    <div class="section-title modal-thanks-title">thank you!
    </div>
    <p class="modal-thanks-text">We are glad that you ordered our chocolate and we are giving you a 20% discount on all
      our products.</p>

  </div>
</div>

<!-- Подложка под модальным окном -->
<div class="overlay js-overlay-modal"></div>