<footer id="footer-block" class="footer">
  <h2 class="section-title">
    <span class="footer-brand">Chocolate</span> a delicious cure for a bad day
  </h2>
  <p>Contact us</p>
  <ul class="footer-contacts">
    <a href="" class="footer-tel"><li>+380 (68) 443-94-26</li></a>
    <a href="" class="footer-mail"><li>simplychoc@gmail.com</li></a>
  </ul>
  <ul class="footer-social">
    <a href="" class="footer-social-link">
        <li>
            <svg width="22" height="22">
                <use href=""></use>
            </svg>
        </li>
    </a>
    <a href="" class="footer-social-link">
        <li>
            <svg width="22" height="22">
                <use></use>
            </svg>
        </li>
    </a>
  </ul>
  <ul class="footer-nav">
    <a href="" class="footer-nav-id">
      <li>Home</li>
    </a>
    <a href="" class="footer-nav-id">
      <li>How it’s made?</li>
    </a>
    <a href="" class="footer-nav-id">
      <li>Our products</li>
    </a>
    <a href="" class="footer-nav-id">
      <li>Top sellers</li>
    </a>
    <a href="" class="footer-nav-id">
      <li>Chocolate is loved</li>
    </a>
  </ul>
  <button type="button" class="inverted-button">Chocolate is loved</button>
</footer>
