<footer class="footer">
  <div class="container">
    <div class="footer-title-container">
      <h2 class="section-title footer-title">
        <span class="footer-brand">Chocolate</span> a delicious cure for a bad
        day
      </h2>
      <div class="footer-contacts-container">
        <div>
          <p class="footer-contacts-text">Contact us</p>
          <ul class="footer-contacts">
            <li>
              <a href="tel:+380684439426" class="footer-tel"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li>
              <a href="mailto:simplychoc@gmail.com" class="footer-mail"
                >simplychoc@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <ul class="footer-social">
          <li>
            <a href="" class="footer-social-link">
              <svg class="footer-icon" width="22" height="22">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="footer-social-link">
              <svg class="footer-icon" width="22" height="22">
                <use href="../img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-nav">
      <li>
        <a href="#home" class="footer-nav-id">Home</a>
      </li>
      <li>
        <a href="how-made" class="footer-nav-id">How it’s made?</a>
      </li>
      <li>
        <a href="#our-product" class="footer-nav-id">Our products</a>
      </li>
      <li>
        <a href="#top-sellers" class="footer-nav-id">Top sellers</a>
      </li>
      <li>
        <a href="#reviews" class="footer-nav-id">Chocolate is loved</a>
      </li>
    </ul>
  </div>
</footer>
