<header class="header">
  <div class="container container_mobile">
    <div class="mobile_menu">
      <nav>
        <div class="mobile_header">
          <a href="../index.html" class="header_logo"
            >SIMPLY CHOCOLATE
            <svg width="21" height="21" class="brend_logo">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
      </nav>
      <div class="modal-menu menu_mobile js-menu-container">
        <div class="element_modal_menu">
          <button
            type="button"
            class="button-close js-close-menu button-close-menu"
          >
            <svg class="button-close-svg">
              <use href="./img/icons.svg#icon-modal-close-cross"></use>
            </svg>
          </button>
          <ul class="nav_link">
            <li class="link_menu">
              <a class="link_menu_nav" href="./index.html">Home</a>
            </li>
            <li class="link_menu">
              <a class="link_menu_nav" href="#advantages">How it’s made?</a>
            </li>
            <li class="link_menu">
              <a class="link_menu_nav" href="#our-product">Our products</a>
            </li>
            <li class="link_menu">
              <a class="link_menu_nav" href="#top-sellers">Top sellers</a>
            </li>
            <li class="link_menu">
              <a class="link_menu_nav" href="Reviews">Chocolate is loved</a>
            </li>
          </ul>
        </div>
        <div class="social_link_container">
          <ul class="list_social_link">
            <li class="social_link">
              <a href="">
                <svg class="header_icon_instagram">
                  <use href="./img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social_link">
              <a href="">
                <svg class="header_icon_instagram">
                  <use href="./img/icons.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <button type="button" class="menu_button js-open-menu">
        <svg width="21" height="21" class="icon_button_open_menu">
          <use href="./img/icons.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
