<section class="hero">
    <div class="container hero-container">
      <h1 class="visually-hidden">basic</h1>
    <h2 class="hero-tagline">Treat yourself or a loved one 
      to our finest ingredients for a moment of pure delight!</h2>
      <div class="hero-tablet-button">
        <div class="hero-button">
          <button class="hero-mobal-button primary-button" type="button">Buy now</button>
          <a href="#" class="inverted-button-black" >How it’s made</a>
        </div>
        <a href="#footer-block" class="down-button">scroll down
          
          <svg class="down-ikon">
           <use href="../img/icons.svg#icon-arrow-down-anchor"></use>
          </svg>
       
      </a>
        
      </div>
      
    </div>
   </section>