<section class="hero">
    <div class="container hero-container">
      <h1 class="visually-hidden">basic</h1>
    <h2 class="hero-tagline">Treat yourself or a loved one 
      to our finest ingredients for a moment of pure delight!</h2>
      <div class="hero-tablet-button">
        <div class="hero-button">
          <button class="hero-modal-button" type="button">Buy now</button>
          <button type="button">How it’s made</button>
        </div>
          <button class="down-button" type="button">scroll down
             <svg class="down-ikon" width="28" height="28">
              <use href="./img/icons.svg#icon-arrow-down-anchor"></use>
             </svg>
          </button>
      </div>
    </div>
   </section>
  