<section class="our-products section" id="our-products">
  <div class="our-products-wrap container">
    <h2 class="our-products-title">
      Our<span class="our-products-accent-text">&nbsp;products</span>
    </h2>
    <div class="products-swiper">
      <ul class="our-products-cardc-wrap swiper-wrapper">
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate1.jpg"
                srcset="./img/chocolate1.jpg 1x, ./img/chocolate1@2x.jpg 2x"
                alt="Orange"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Orange</a>
            <p class="our-products-cards-description">Dark chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              45 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate2.jpg"
                srcset="./img/chocolate2.jpg 1x, ./img/chocolate2@2x.jpg 2x"
                alt="Apple&cranberry"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Apple&cranberry</a>
            <p class="our-products-cards-description">Milk chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              50 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate3.jpg"
                srcset="./img/chocolate3.jpg 1x, ./img/chocolate3@2x.jpg 2x"
                alt="Lime&sea salt"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Lime&sea salt</a>
            <p class="our-products-cards-description">Dark chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              66 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate4.jpg"
                srcset="./img/chocolate4.jpg 1x, ./img/chocolate4@2x.jpg 2x"
                alt="Pineapple"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Pineapple</a>
            <p class="our-products-cards-description">Dark chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              54 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate5.jpg"
                srcset="./img/chocolate5.jpg 1x, ./img/chocolate5@2x.jpg 2x"
                alt="Classic"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Classic</a>
            <p class="our-products-cards-description">Milk chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              45 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate6.jpg"
                srcset="./img/chocolate6.jpg 1x, ./img/chocolate6@2x.jpg 2x"
                alt="Honey"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Honey</a>
            <p class="our-products-cards-description">Milk chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              50 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate7.jpg"
                srcset="./img/chocolate7.jpg 1x, ./img/chocolate7@2x.jpg 2x"
                alt="Roasted fruits"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Roasted fruits</a>
            <p class="our-products-cards-description">Dark chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              66 UAH
            </button>
          </div>
        </li>
        <li class="our-products-card swiper-slide">
          <div class="our-products-card-content-wrap">
            <a href="" class="our-products-card-link">
              <img
                src="./img/chocolate8.jpg"
                srcset="./img/chocolate8.jpg 1x, ./img/chocolate8@2x.jpg 2x"
                alt="Classic"
                width="230"
                height="201"
              />
            </a>
            <a href="" class="our-products-cards-name">Classic</a>
            <p class="our-products-cards-description">White chocolate</p>
            <button type="button" class="our-products-price-buy-now">
              54 UAH
            </button>
          </div>
        </li>
      </ul>
      <div class="review-swiper-pagination"></div>
    </div>
  </div>
</section>
