<section class="container">


    <div class="container-top-sellers">
        <h2 class="section-title">Top sellers</h2>
        <ul class="top-sellers-img-list">

            <div><img src="../img/top1.jpg" alt="img1">
                <p class="top-sellers-text-position">Crazy enough chocolate originates from a bean just like the coffee
                    bean called
                    Cacao. Cacao has been around for
                    thousands of years and was first discovered by the Native American tribe called the Mayans.</p>
            </div>

            <div>
                <img src="../img/top2.jpg" alt="'img2">
                <button type="button" class="js-open-modal" data-modal="1">Buy now</button>
            </div>

            <div class="top-sellers-desktop-img">
                <img src="../img/top3.jpg" alt="img3">
            </div>
        </ul>


    </div>




</section>